export DATA_DIR=$PWD/data
export DATABASE_URL=sqlite:$DATA_DIR/database.sqlite?mode=rwc
export OAUTH_URL_BASE=http://localhost:3000/oauth
export DISCORD_TOKEN=
export MASTODON_CLIENT_ID=
export MASTODON_CLIENT_SECRET=
